.blogsXx{
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    justify-content: center;
    gap: 4rem;
}
.blogdetails{
    width: 50rem;
}
.blogs_details img{
    width: 50rem;
    border-radius: 8px;
    margin-bottom: .7rem;
}
.blogs_details h2{
    margin-bottom: .7rem;
    font-size: 1.9rem;
    font-weight: 500;
    color: #2F146B;
}
.blogdetails_items{
    display: flex;
    column-gap: 1rem;
}
.blogdetails_items i{
    color: var(--color6);
    font-size: 1rem;
}
.blogs_details p{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}
.blogs_details blockquote{
    padding: 0 6rem;
    line-height: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
}
/* ============= SINGLE COMMENT ============ */
.commentList{
    margin-bottom: 1.5rem;
}
.commentList h4{
    font-size: 1.4rem;
    font-weight: 400;
}
.singlecomment{
    display: flex;
    align-items: flex-start;
    column-gap: 1rem;
}
.singlecomment img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    padding: 2px;
    border: 2px solid #ffb917;
}
.commentdetails h6{
    font-weight: 400;
    font-size: 1.1rem;
    margin-bottom: .5rem;
}
.replay{
    display: block;
    margin-top: .1rem;
    font-weight: 500;
    color: #164368;
    cursor: pointer;
}
.replay i{
    color: #ffb917;
}

/* ======== COMMENT FORM ========= */
.leavecomment{
    margin-top: 1rem;
}
.leavecomment h4{
    font-size: 1.4rem;
    font-weight: 400;
}
.leavecomment p{
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.inputmessage{
    display: flex;
    column-gap: 10px;
    margin-bottom: 1rem;
}
.inputmessage input{
    border: none;
    outline: none;
    padding: .7rem 1.8rem;
    background: #F2F2F2;
    width: 245px;
    border-radius: 4px;
}
.textarea{
    margin-bottom: 1rem;
}
.textarea textarea{
    border: none;
    outline: none;
    padding: .7rem 2rem;
    background: #F2F2F2;
    width: 500px;
    border-radius: 4px;
}
.leavcomnt button{
    border: none;
    outline: none;
    width: 170px;
    padding: .8rem 1.5rem;
    border-radius: 2px;
    color: #fff;
    background: var(--color1);
    cursor: pointer;
    font-weight: 400;
    font-size: 1rem;
    box-shadow: 5px 10px 20px 0px rgba(24, 122, 202, 0.4);
    transition: .2s ease-in;
}
.leavcomnt button:hover{
    box-shadow: 5px 10px 20px 0px rgba(24, 122, 202, 0.6);
}

/*======== OTHER BLOGS =========*/
.othresBlogs{
    height: fit-content;
    border: 1px solid #222;
    border-radius: 4px;
    padding: 2rem 1rem;
}
.other_title{
    margin-bottom: 1rem;
}
.recentblogsitem{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}
.recentblogsitem img{
    margin-bottom: 10px;
    border-radius: 6px;
    width: 150px;
}
.recentblogsitem h6{
    font-size: 1.1rem;
    font-weight: 400;
    color: #164368;
}

/*========== responsive ===========*/
@media screen and (max-width:1150px){
    .blogsXx{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .othresBlogs{
        width: 100%;
        border: none;
    }
}

@media screen and (max-width:845px){
    .blogdetails{
        width: 35rem;
    }
    .blogs_details img{
        width: 35rem;
    }
}

@media screen and (max-width:600px){
    .blogdetails{
        width: 20rem;
    }
    .blogs_details img{
        width: 20rem;
    }
    .blogs_details blockquote{
        padding: 0 2rem;
        font-size: 1rem;
        font-weight: 400;
    }
    .inputmessage input{
        padding: .7rem 1.8rem;
        width: 150px;
    }
    .textarea textarea{
        padding: .7rem 2rem;
        width: 310px;
    }
    .leavcomnt button{
        width: 130px;
        padding: .6rem 1.2rem;
        cursor: pointer;
        font-weight: 300;
        font-size: .7rem;
    }
}
@media screen and (max-width:370px){
    .blogsXx{
        margin-right: 1rem;
        margin-left: 1rem;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

}
@media screen and (max-width:355px){
    .blogsXx{
        margin-right: 1rem;
        margin-left: 1rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .blogdetails{
        width: 18rem;
    }
    .blogs_details img{
        width: 15rem;
    }
    .blogs_details h2{
        font-size: 1rem;
        font-weight: 400;
    }
    .blogs_details blockquote{
        padding: 0 2rem;
        font-size: .9rem;
        font-weight: 400;
    }
    .leavecomment{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .leavecomment p{
        width: 75%;
        text-align: center;
    }
    .inputmessage input{
        padding: .7rem 1.8rem;
        width: 100px;
    }
    .textarea textarea{
        padding: .7rem 2rem;
        width: 210px;
    }
    .commentList{
        text-align: center;
    }
    .singlecomment{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        column-gap: 1rem;
        text-align: center;
    }
    .other_title{
        font-size: 1.1rem;
        font-weight: 400;
    }
    .recentblogsitem img{
        width: 100px;
    }
    .recentblogsitem h6{
        font-size: .8rem;
        font-weight: 300;
    }
}
@media screen and (max-width:307px){
    .blogdetails{
        width: 15rem;
    }
    .blogdetails_items span{
        font-size: .8rem;
    }
    .blogdetails_items i{
        font-size: .8rem;
    }
}